<template lang="pug">
div
  section.container.animate_intro
    h1 Informações
    p Esse web aplitivativo é uma ação social construida e idealizada pelo seu criador Lucas Ferreira de Lima, um rapaz brasileiro que mesmo em meio a todas as adversidades focou e dedicou sua vida a melhoria social e com seus conhecimentos idealizou e construiu esse web aplcativo para ajudar o seus iguais a abrir novas portas em suas vidas com o fruto de seu trabalho mas com um curriculo bastante profissional e apresentavel.
</template>

<script>
export default {
  name: 'about'
}
</script>
