<template lang="pug">
div
  section.container.animate_intro
    h2
      | Nova forma de fazer curriculo.
      br
      | Aproveite para compartilha em suas redes sociais...

    h2 Diversos formatos de curriculos para sua escolha!

  main.app.animate_app_intro
    section.section
      form-curriculo-new
</template>

<script>
export default {
  name: 'version2'
}
</script>
