<template lang="pug">
// Form get the data info person
form#curriculo.template(action="")
  fieldset
    legend.animate_intro(contenteditable="true") Dados pessoais
</template>

<script>
export default {
  name: 'form-curriculo-new'
}
</script>
