.container
  padding-top 60px
  color #fff
  letter-spacing .8px
  -webkit-user-select none  /* Chrome 49+ */
  -moz-user-select none    /* Firefox 43+ */
  -ms-user-select none     /* No support yet */
  user-select none
  -webkit-tap-highlight-color rgba(255, 255, 255, 0) !important
  -webkit-focus-ring-color rgba(255, 255, 255, 0) !important
  outline none !important
  will-change opacity, translate, scale
  z-index 999
  h1
    text-align center
    padding-bottom 10px
  h2
    font-size 28px
    padding 0 60px
    padding-bottom 60px
    text-align center
    //background linear-gradient(rgba(#fff,1),rgba(#fff,0))
  h3, p
    max-width 700px
    margin 0 auto
    font-size 18px
    text-align center
    padding 0
    margin-top 20px
    //background linear-gradient(rgba(#fff,1),rgba(#fff,0))
