color-1 = #FB0
color-2 = #999
color-3 = #ccc

.app.theme_lucaslimax
  color blue
  background yellow

.app.theme_lucaslimay
  color green
  background red

.app.theme_lucaslimax .theme
  position relative
  display block
  &:before
    content ""
    display block
    width 1px
    height 100%
    min-height 100%
    background color-3
    position absolute
    left 86px
  header
    margin 0
    padding 20px 0
    border-bottom 1px solid color-3
    & > span
      float left
      font-size 69px
      margin 0 30px
    h1
      font-size 53.5px
    h2
      font-size 16px
  .mark_span
    color color-1
  section
    & > h3
      font-size 19px
      color color-1
      text-align right
      float left
      width 66px
      padding 16px 10px
    &:after
      content ""
      display table
      clear both
    .left, .right
      clear none
    .left
      float left
    .right
      float right
    .mark_bullet
      color #333
      text-transform uppercase
      .m_bullet
        color color-1
        margin 0 6px
