/* Import Reset 1 1 1 */
@import '_reset'
//@import '../../node_modules/jeet/jeet'

*
  background transparent

/* All.styl */
html, body
  height auto
  margin 0
  padding 0
  width 100%
body
  background url("./assets/bg-paper.jpg") center bottom no-repeat fixed //linear-gradient(#000,#666)
  box-sizing border-box
  color #444
  font-family Arial
  font-size 16px
  font-weight bold
  padding 20px
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  overflow-x hidden
  position relative
  height 100%
  min-height 100%
  &:before
    background linear-gradient(rgba(#000,.6),rgba(#000,.8))
    content ""
    display block
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    z-index -1

hr
  margin 10px auto
  border 0
  border-bottom 4px double  #eee

h1
  font-size 60px
  text-shadow 10px 10px 20px rgba(#000, .1)
  a
    font-size inherit

.br-mobile
  display block

.logo
  color #fff
  font-family 'Nixie One', cursive
  font-size 40px
  line-height 40px
  display block
  margin 10px auto
  padding 20px
  fill #fff
  transition .3s all
  &:hover
    transform scale(1.1)
    transition .3s all
  strong
    position relative
    top -10px
    margin 0 10px
.logo-icon
  width 50px
  height 50px
  fill #fff
  path
    fill #fff
a
  color #fff
  font-size 18px
  text-decoration none
  line-height 30px
  transition .5s all

.modal
  background rgba(#000, .9)
  width 100%
  height 100%
  min-height 100%
  display block
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  z-index 998
.modal_box
  background #fff
  border-radius 6px
  box-shadow 0 4px 30px rgba(#000,.4)
  padding 20px
  width 500px
  margin 50px auto 0;
  box-sizing border-box
  position fixed
  top 0
  left 0
  right 0
  z-index 999
  h1
    font-size 26px
  .modalClose
    background red
    border-radius 6px
    padding 6px 10px
    cursor pointer
    position absolute
    right 16px
    top 16px
    font-style normal
    font-weight bold
    font-size 20px
    color #fff


@import '_app-print'
@import '_login'
@import '_help'
@import '_app'
@import '_layouts'
@import '_publicidade'
@import '_template'
@import '_animate'
@import '_app-top-600'
@import '_app-top-800'
@import '_app-top-1440'
@import '_helpers-hack'
